//
//  Layout
//  ____________________________________

@layout__max-width: 1200px;
@breakpoint__l: 1024px;
@breakpoint__s: 768px;

//
//  Spacing
//  ____________________________________

@indent__xxl: 32px;
@indent__xl: 24px;
@indent__l: 16px;
@indent__m: 12px;
@indent__s: 8px;
@indent__xs: 4px;

//
//  Colors
//  ____________________________________

@color__white: #fff;
@color__wild-sand: #f5f5f5;
@color__gallery: #eaeaea;
@color__silver-chalice: #a9a9a9;
@color__black: #444;
@color__sandy-brown: #f2a44b;
@color__red: #f00;

@color__background-primary: @color__wild-sand;

@color__text-primary: @color__black;
@color__link-primary: @color__black;
@color__link-active: lighten(@color__link-primary, 90%);

@color__icon-primary: @color__silver-chalice;
@color__icon-secondary: @color__black;

@color__border-primary: @color__wild-sand;
@color__border-secondary: @color__silver-chalice;

@color__error: @color__red;

//
//  Typography
//  ____________________________________

@font__primary: 'Roboto', sans-serif;
@font__size-base: 13px;

@font__primary--normal: 400;
@font__primary--medium: 500;
@font__primary--bold: 700;

@font-size__base: @font-size__s;
@font-size__s: 1rem;
@font-size__m: 1.2rem;
@font-size__l: 1.3rem;

@font-size__h2--mobile: 2rem;
@font-size__h2: 2.4rem;
@font-size__h1--mobile: 2.4rem;
@font-size__h1: 3rem;

@font-size__icon--regular: 20px;
